[submodule "ezstore/product/product-parent"]
	path = ezstore/product/product-parent
	url = https://github.com/singh-ask1998/product-parent.git
[submodule "ezstore/product/product-operation"]
	path = ezstore/product/product-operation
	url = https://github.com/singh-ask1998/product-operation.git
[submodule "ezstore/ezstore-ui/ezstore-web"]
	path = ezstore/ezstore-ui/ezstore-web
	url = https://github.com/singh-ask1998/ezstore-web.git
